@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	blockquote {
		@apply border-l-4 bg-orange-200 border-orange-400 p-4;
	}

	.note > li {
		@apply font-bold text-4xl;
	}

	.note > ul {
		@apply space-y-4;
	}

	.note > ul > li {
		@apply font-bold;
	}

	.note > ul > ul {
		@apply space-y-4;
	}

	.link-underline {
		text-decoration: underline;
		@apply text-gray-500 font-normal !important;
	}

	.single-line-list > a {
		@apply inline-block !important;
		@apply mx-1 underline;
	}

	.single-line-list > li {
		@apply inline-block !important;
		@apply mx-1 underline;
	}

	.no-single-line-list > a,
	.no-single-line-list > li {
		@apply block no-underline !important;
	}
}
