@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
.link-underline {
    text-decoration: underline;
    @apply text-gray-500 font-normal !important;
}

.single-line-list > a {
    @apply inline-block !important;
    @apply mx-1 underline;
}

.single-line-list > li {
    @apply inline-block !important;
    @apply mx-1 underline;
}


.no-single-line-list > a, li {
    @apply block no-underline !important;
}
}
